html {
  overflow: hidden; 
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Confeti Atras*/
#canvas1 {
  position: absolute; 
  top: 0;
  left: 0;
  inset: 0;
  display: block;
  pointer-events: none;
  z-index: -15;
}

.canvas1{position: absolute}
